*{
    margin: 0px;
    border: 0px;
}
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cont{
    display: flex;
    flex:70% 30%;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    /* padding-left: 50%;  */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.num{
    color: rgb(158, 158, 7);
    font-size: 80px;
    flex: 50% 50%;
}

.num1{
    justify-content: flex-start;
    width: 50%;
    padding-left: 4rem;

}
.num3{
    justify-content: center;
    padding-left: 40%;
}
.num4{
    width:50% ;
    padding-top: 5rem;
}

.footprint{
    width: 50%;
}
#one{
    padding-left: 2rem;
}
#two{
    padding-left: 2.5rem;
}
#pos{
    padding-right: 5rem;
}
.pagination{
    display:flex;
    border-left: 3px solid rgb(0, 11, 0);
    height: 12rem;
    padding-right: 5rem;
    margin-top: 4rem;
}
.vl{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: space-around;
    gap: 2px;
}
.circle{
    border-radius: 50%;
    border: 2px solid #000;
    height: 1.5rem;
    width: 1.5rem;
}
.circle:hover{
    background-color: rgb(52, 43, 228);
    color:white;
}